<div class="container">
  <%= link_to "Assign Script", assign_scripts_path, class: "btn btn-primary" %>
  <div class="justify-content-center">
    <h1>All current scripts</h1>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Assigned?</th>
        <th>User Email</th>
        <th>Completed?</th>
        <th>Actions</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @scripts.each do |script| %>
        <tr>
          <td><%= script.name %></td>
          <td><%= script.path %></td>
          <td><%= script.assigned %></td>
          <% if script.user.nil? %>
            <td>Not assigned</td>
          <% else %>
            <td><%= script.user.email %></td>
          <% end %>
          <td><%= script.completed %></td>
          <td>
          <% unless script.completed %>
            <%= button_to "Complete", complete_script_path(script), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-primary", form_class: "d-inline" %>
          <% end %>
          </td>
          <td>
            <% if script.completed %>
              <a>CLOSED</a>
            <% elsif script.assigned %>
              <a>ONGOING</a>
            <% else %>
              <a>OPEN</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Source Code", "https://github.com/D-Alessian/HOG-Task-Management", class: "btn btn-secondary", target: "_blank" %>

</div>
